.container {
    width: 100%;
}

.title {
    color: #797981;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.input, .button {
    margin: 0 0 22px 0;
}

.toolbar {
    text-align: center;
}