.pageWrapper {
  display: flex;
  align-items: space-between;
  margin: 60px 82px 0 145px;
  gap: 66px;
}

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
}

.title {
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  color: #1a1b22;
  margin: 0;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #797981;
  margin: 0;
}

.filterWrapper {
  display: flex;
  margin-bottom: 32px;
}

.filterTitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #797981;
  margin: 0;
}
